        /* Apparence générale */

/* Polices */
@font-face {
    font-family: 'Milkshake';
    src: url('font_milkshake/Milkshake.ttf');
}
@font-face {
    font-family: 'RobotoC';
    src: url('font_roboto_condensed/RobotoCondensed-Regular.ttf');
}
@font-face {
    font-family: 'Sriracha';
    src: url('font_sriracha/Sriracha-Regular.ttf');
}

/* Police pout tout le CV */
* {
    font-family: RobotoC;
}

body {
    margin: 20px;
    background-image: url(photo/wood.png);
}

.cv {
    max-width: 1280px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

h1 {
    font-size: 80px;
    font-family: Milkshake;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1em; /* La hauteur de la ligne = à la taille de la police */
}

h2 {
    font-size: 22px;
    font-family: Sriracha;
    margin-top: 0px;
}

h3 {
    font-size: 30px;
    font-family: Sriracha;
}

h4 {
    font-size: 22px;
    font-weight: : bold;
    margin-bottom: 0;
}

h5 {
    font-size: 18px;
    font-style: italic;
    color: rgb(230, 115, 115);
    margin-top: 8px;
}

/* Liens vers mail, twitter insta */
a {
   text-decoration: none;
   color: rgb(64, 64, 64);
   font-style: italic; 
}

/* Liens vers mail, twitter insta survol */
a:hover {
   text-decoration: underline;
   color: black;
}




        /* Apparence de l'entête globale */


header {
   display: flex; /* Met côte à côte la photo et le titre */
   flex-wrap: nowrap; /* Les éléments sont ressérés au max */
   color: rgb(64, 64, 64);
   align-items: center;

}

/* Apparence du bloc photo */
.photo {
    background-color: rgb(230, 115, 115);
    padding : 30px;
    width: 240px;
    flex-shrink: 0; /* Interdiction de rétrécir */
    text-align: center;
}

img {
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(64, 64, 64);
}

.titre {
    padding-left: 70px;
    padding-right: 40px;
}

.prenom {
    color: rgb(230, 115, 115);
    font-family: Milkshake;
}

/* Soulignement juste de Devel */
.devel {
    text-decoration: underline;
    text-decoration-color: rgb(230, 115, 115);
    font-family: Sriracha;
}




        /* Apparence générale du corps du CV */


.corps {
    display: flex;
}



        /* Apparence de la partie perso du CV */


.gauche {
    background-color: rgb(230, 115, 115);
    color: rgb(64, 64, 64);
    text-align: left;
    width: 300px;
    flex-shrink: 0; /* Interdiction de rétrécir */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gauche h3 {
    background-color: rgb(64, 64, 64); 
    color: rgb(230, 115, 115);
    text-align: center;
    margin-bottom: 40px;
}

.gauche p {
    padding: 20px;
}

/* !!!! Toutes les icones !!! */
.icones {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

}

/* !!!!!! Une seule icone !!!! */
.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid;
    padding: 10px;
}

/* Apparence des logos  */
.fas {
    color: rgb(64, 64, 64);
    display: block; /* doit se comporter comme une div */
    text-align: center;
}

.loisirs {
    padding-bottom: 80px;
}

.contact {
    flex: 1;
}

/* Met en gras les "titres" du conteneur contact */
.champs {
    font-weight: bold;
}

.propos {
    flex: 3;
}

.propos p {
    text-align: justify;
}




        /* Apparence de la partie pro du CV */


.droite {
    color: rgb(64, 64, 64);
    padding-left: 50px;
    padding-right: 50px;
    flex: auto;
    justify-content: space-around;
    align-items: center;
}

/* Apparence spécifiques des logos "pro" */
.droite .fas {
    color: rgb(230, 115, 115);
}

/* Apparence spécifiques des logos "pro" */
.droite .far {
    color: rgb(230, 115, 115);
}

/* Apparence spécifique des titres de droite */
.droite h3 {
    border-bottom: 1px solid rgb(230, 115, 115);
    padding-bottom: 5px;
}

/* Apparence, surtout alignement des articles */
article {
    display: flex;

}

/* Apparence de tous les conteneurs datelieu */
.datelieu {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-shrink: 0;
    width: 120px;
    font-size: 18px;
}

.info {
    padding-left: 10px;
}

/* Apparence des textes expliquant les formations et expériences */
.details {
    justify-content: space-around;
    padding-right: : 50px;
    padding-left: 100px;
    align-self: stretch; /* Aligne les flexibles */
}

.details h5 {
    margin-bottom: 0;
}

.formation h4 {
    margin-top: 20px;
}

.experience h4 {
    margin-top: 20px;
}

/* Conteneur entier des recommandations */
.recommandation {
    padding-bottom: 50px;
}

/* Apparence juste des coordonnées des recommandations */
.coordonnees {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Conteneur des recommandations sans le titre inclu */
.recommandation1 {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.recommandation1 h5 {
    margin-bottom: 5px;
}

.recommandation1 address {
    margin-top: 0;
}





        /* Pour les écrans <1024px */


@media all and (max-width: 1024px)
{
    header {
        flex-direction: column;
    }

    h1 {
        font-size: 40px;
        text-align: center;
    }

    h2 {
        font-size: 20px;
        margin-top: 5px;
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .corps {
        flex-direction: column-reverse;
        width: auto;
    }

    .photo {
        width: auto;
        background-color: transparent;
    }

    img {
        border: 5px solid rgb(230, 115, 115);
    }

    .titre {
    padding-left: 0px;
    padding-right: 0px;
    }

    .gauche {
        width: auto;
    }

    .droite {
        padding-left: 20px;
        padding-right: 20px;
    }

    article {
        flex-direction: column;
        align-items: center;
    }

    .details {
        padding-left: 0;
    }

    .recommandation1 {
        text-align: center;
        padding-right: 0;
    }

    .coordonnees {
        text-align: center;
    }

    .contact h3 {
        margin-top: 0;
    }

    .contact {
        text-align: center;
    }
}






    
