        /* Apparence générale */


@font-face {
    font-family: 'Milkshake';
    src: url('font_milkshake/Milkshake.ttf');
}

@font-face {
    font-family: 'RobotoC';
    src: url('font_roboto_condensed/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Sriracha';
    src: url('font_sriracha/Sriracha-Regular.ttf');
}

* {
    font-family: RobotoC;
}

h1 {
    font-size: 80px;
    font-family: Milkshake;
    margin-bottom: 0;
}

h2 {
    font-size: 22px;
    font-family: Sriracha;
    margin-top: -30px;
}

h3 {
    font-size: 25px;
    font-family: Sriracha;
}

/* Liens vers mail, twitter insta */
a {
   text-decoration: none;
   color: rgb(64, 64, 64);
   font-style: italic; 
}

/* Liens vers mail, twitter insta survol */
a:hover {
   text-decoration: underline;
   color: black;
}


        /* Apparence de l'entête globale */


header {
   display: flex; /* Met côte à côte la photo et le titre */
   flex-wrap: nowrap; /* Les éléments sont ressérés au max */
   color: rgb(64, 64, 64);
   align-items: center;

}

/* Apparence du bloc photo */
.photo {
    background-color: rgb(230, 115, 115);
    padding : 20px;
    width: 210px;
    flex-shrink: 0; /* Interdiction de rétrécir */
}

img {
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(64, 64, 64);
}

.titre {
    padding-left: 70px;
    padding-right: 40px;
}

/* Apparence du "titre */
.prenom {
    color: rgb(230, 115, 115);
    font-family: Milkshake;
}

.devel {
    text-decoration: underline;
    text-decoration-color: rgb(230, 115, 115);
    font-family: Sriracha;
}


        /* Apparence générale du corps du CV */


.corps {
    display: flex;
}


        /* Apparence de la partie perso du CV */


.gauche {
    background-color: rgb(230, 115, 115);
    color: rgb(64, 64, 64);
    text-align: left;
    width: 250px;
    flex-shrink: 0; /* Interdiction de rétrécir */
}

.gauche h3 {
    background-color: rgb(64, 64, 64); 
    color: rgb(230, 115, 115);
    text-align: center;
}

.gauche p {
    padding: 20px;
}

.datelieu {
    width: 200px;
}

/* !!!! Toutes les icones !!! */
.icones {
    display: flex;
    justify-content: space-around;


}

/* !!!!!! Une seule icone !!!! */
.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid;
    padding: 10px;
}

/* Apparence des logos  */
.fas {
    color: rgb(64, 64, 64);
    display: block;
    text-align: center;
}


.loisirs {
    padding-bottom: 25px;
}


        /* Apparence de la partie pro du CV */


.droite {
    color: rgb(64, 64, 64);
    padding-left: 70px;
    padding-right: 40px;
    flex: auto;
    justify-content: space-around;
    align-items: center;
}

/* Apparence spécifiques des logos "pro" */
.droite .fas {
    color: rgb(230, 115, 115);
}

/* Apparence spécifiques des logos "pro" */
.droite .far {
    color: rgb(230, 115, 115);
}

/* Apparence spécifique des titres de droite */
.droite h3 {
    border-bottom: 1px solid rgb(230, 115, 115);
    padding-bottom: 5px;
}

/* Apparence, surtout alignement des articles */
article {
    display: flex;
    padding-right: 40px;

}

/* Apparence de tous les conteneurs datelieu */
.datelieu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-shrink: 0;
}

/* Apparence des textes expliquant les formations et expériences */
.details {
    justify-content: space-around;
    padding-right: : 50px;
    padding-left: 100px;
}

/* Conteneur entier des recommandations */
.recommandation {
    padding-bottom: 50px;
}

/* Conteneur des recommandations sans le titre inclu */
.recommandation1 {
    display: flex;
    flex-direction: column;
}


/* Apparence juste des coordonnées des recommandations */
.coordonnees {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}