/* Apparence générale */

@font-face {
    font-family: 'Milkshake';
    src: url('Milkshake.ttf');
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 25px;
}

/* Liens vers mail, twitter insta */
a {
   text-decoration: none;
   color: rgb(64, 64, 64);
   font-style: italic; 
}

/* Liens vers mail, twitter insta survol */
a:hover {
   text-decoration: underline;
   color: black;
}



/* Apparence de l'entête globale */
header {
   display: flex; /* Met côte à côte la photo et le titre */
   flex-wrap: nowrap; /* Les éléments sont ressérés au max */
   color: rgb(64, 64, 64);
   align-items: center;

}

/* Apparence du bloc photo */
.photo {
    background-color: rgb(230, 115, 115);
    padding : 20px;
    width: 210px;
    flex-shrink: 0; /* Interdiction de rétrécir */
}

img {
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgb(64, 64, 64);
}

.titre {
    padding-left: 40px;
    padding-right: 40px;
}

/* Apparence du "titre */
.prenom {
    color: rgb(230, 115, 115);
}

.devel {
    text-decoration: underline;
    text-decoration-color: rgb(230, 115, 115);
}


/* Apparence générale du corps du CV */
.corps {
    display: flex;
}

/* Apparence de la partie perso du CV */
.gauche {
    background-color: rgb(230, 115, 115);
    color: rgb(64, 64, 64);
    text-align: left;
    width: 250px;
    flex-shrink: 0; /* Interdiction de rétrécir */
}

.gauche h3 {
    background-color: rgb(64, 64, 64); 
    color: rgb(230, 115, 115);
    text-align: center;
}

.gauche p {
    padding: 20px;
}

.datelieu {
    width: 200px;
}

.icones {
    display: flex;
    justify-content: space-around;

}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid;
    padding: 10px;
}

/* Apparence des logos  */
.fas {
    color: rgb(64, 64, 64);
    display: block;
    text-align: center;
}

.loisirs {
    padding-bottom: 25px;
}

/* Apparence de la partie pro du CV */
.droite {
    color: rgb(64, 64, 64);
    padding-left: 40px;
    padding-right: 40px;
    flex: auto;
    justify-content: space-around;
    align-items: center;
}

/* Apparence spécifiques des logos "pro" */
.droite .fas {
    color: rgb(230, 115, 115);
}

/* Apparence spécifiques des logos "pro" */
.droite .far {
    color: rgb(230, 115, 115);
}

.droite h3 {
    border-bottom: 2px solid rgb(230, 115, 115);
}

article {
    display: flex;

}

.datelieu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.details {
    justify-content: space-around;
}

.recommandation1 {
    display: flex;
    flex-direction: column;
}

.coordonnees {
    display: flex;
}